body {
    background-color: aquamarine;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
fieldset {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

form fieldset {

   
    margin: 10px auto 10px auto;
    width: 40%;
    padding: 3%;
}

form legend {
    padding: 10px;
    margin: 15px;
    
    font-weight: bold;
    background-color: aliceblue;

}

form label {
    display: block;
    font-size: 11px;

}

form input {
    width: 100%;
    border: solid #ccc 1px;
    font-size: 11px;
    margin-bottom: 10px;
}

form input.botao {
    display: block;
    width: auto;
    float: left;
}

footer {
    color: rgb(196, 13, 13)
    
}